<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
{% load static %}



<head>
<title>My portofolio</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="keywords" content="Memoir a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" media="all">
<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" media="all">
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
<link href="{% static '//fonts.googleapis.com/css?family=Open+Sans' %}" rel="stylesheet">
<link href="{% static '//fonts.googleapis.com/css?family=Roboto+Condensed' %}" rel="stylesheet">
<link href="{% static '//fonts.googleapis.com/css?family=Dancing+Script' %}" rel="stylesheet">
<!-- Supportive-JavaScript -->
<script src="js/modernizr.js"></script>
<!-- //Supportive-JavaScript -->

</head>
<body>
<!-- banner -->
	<div class="banner" id="home" >
	
			<div class="header">
			
				<div class="ilofggagile_logo">
					<h1>Anish</h1>
				</div>
				<div class="ilofggmenu">
					<div class="mobile-nav-button">
						<div class="mobile-nav-button__line"></div>
						<div class="mobile-nav-button__line"></div>
						<div class="mobile-nav-button__line"></div>
					</div>
					<nav class="mobile-menu">
						<ul>
							<li><a href="#home" class="page-scroll" >Home</a></li>
							<li><a href="#about" class="page-scroll" >About</a></li>
							<li><a href="#education" class="page-scroll" >Education</a></li>
							<li><a href="#services" class="page-scroll" >Services</a></li>
							<li><a href="#skills" class="page-scroll" >Skills</a></li>
							<li><a href="#projects" class="page-scroll" >Projects</a></li>
							<li><a href="#contact" class="page-scroll" >Contact</a></li>
						</ul>
							<div class="clearfix"></div>
											</nav>
				</div>
				<div class="clearfix"> </div>
			
			</div>
						
			<div class="banner-image-w3layouts">
			<div class="container">
			<div class="row">
			<div class="col-md-5 ilofggbanimg">
				<img src="{% static 'images/banner.jpeg' %}" alt=" " class="img-responsive" />
				</div>
				
			<div class="col-md-7 ilofggbaninf">
			<h2>Anish Thapa</h2>
			<h4>Im currently studying IT at Herald college</h4>
			<p class="ilofggbann">I am very passionate in technology.Trying to learn new technology  </p>
			
				<div class="w3l_but">
                       <a href="#projects"  class="btn btn-lg btn-primary btn-block page-scroll">PROJECTS</a>
					</div>
					<div class=" w3l_but1">
						<a href="#about" class="btn btn-lg btn-primary btn-block page-scroll">Resume</a>
					</div>
				
					<div class="clearfix"></div>
			</div>
						</div>
			</div>
			</div>
			</div>
<!-- //banner -->
<!---728x90---> 
<!-- About Us -->
<div class="aboutus" id="about">
<div class="container">
<h3>ABOUT ME</h3>
<div class="w3l_abtu">
<div class="col-md-3 ilofggabt">
<i class="fa fa-mobile" aria-hidden="true"></i>
<h6>Machine learning</h6>
</div>
<div class="col-md-3 ilofggabt1">
<i class="fa fa-desktop" aria-hidden="true"></i>
<h6>Django</h6>
</div>
<div class="col-md-3 ilofggabt2">
<i class="fa fa-envelope" aria-hidden="true"></i>
<h6>Mail</h6>
</div>
<div class="col-md-3 ilofggabt3">
<i class="fa fa-html5" aria-hidden="true"></i>
<h6>HTML and CSS</h6>
</div>
<div class="clearfix"></div>
</div>
{% comment %} <div class="w3l_aboutdwn">
<div class="col-md-4 agile_abtdwn">
<p class="w3l_par">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
</div>
<div class="col-md-4 agile_abtdwn1">
<p class="W3l_par1">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
</div>
<div class="col-md-4 agile_abtdwn2">
<p class="W3l_par1">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
</div> {% endcomment %}
<div class="clearfix"></div>
</div>
<div class="w3l_chkbtn">
 <a href="#skills" class="btn btn-lg btn-primary btn-block page-scroll">Check out My Profile</a>
</div>
</div>
</div>
<!-- /About Us -->
<!---728x90---> 
<!-- Education -->
<div class="education" id="education">
	<div class="container">  
		<h3>Education</h3>
		<div class="w3l_edc">
			<div class="col-md-6 eduleft">
				<div class="left1">
					<h4> +2</h4>
					<p class="ilofggr">Reliance international Academy</p>
					<i class="fa fa-bullseye" aria-hidden="true"></i>
				</div>
				<div class="left1">
					<p>.</p>
				<i class="fa fa-circle-thin" aria-hidden="true"></i>
				</div>
				{% comment %} <div class="left1">
					<h4>PHD</h4>
					<p class="ilofggr">Chicago University 2009-2012</p>
				<i class="fa fa-creative-commons" aria-hidden="true"></i>
				</div> {% endcomment %}
				{% comment %} <div class="left1">
					<p>Voluptas assumenda est, omnis dolor repellendus. 
					Temporibus autem quibusdam et aut officiis debitis aut 
					rerum necessitatibus saepe.</p>
					<i class="fa fa-question-circle-o" aria-hidden="true"></i>
				</div> {% endcomment %}
			</div>
			<div class="col-md-6 eduright">
				<div class="right1">
					<p></p>
				</div>
				<div class="right1">
					<h4 class="w3l_eduh">Bachelors Degree</h4>
					<p class="w3l_edup">Herald College kathmandu - 2019 to 2022</p>
				</div>
				<div class="right1">
					<p></p>
				</div>
				<div class="right1">
					<h4 class="w3l_eduh"></h4>
					<p class="w3l_edup"> </p>
				</div>
			
			</div>
		</div>
			
	</div>
	
</div>
<!-- /Education -->

<!-- Services -->
<div class="services" id="services">
<h3>Services</h3>
<div class="servghjrfghv">
<div class="col-md-6 wthree_info">
</div>
<div class="col-md-6 w3layouts">
<h2>Create your websites</h2>
<P class="servghjrfgh">You can have your websites with any framework </p>
<div class="col-md-6 servghjrfghvice">

<h4>Software development</h4>
<P class="ilofgg123">Software development services is a complicated process to design an application or software in order to meet a particular business or personal objective, goal or process. This process consists of various stages: Planning, Analysis, Product Design, Development & Implementation, Testing, Maintenance.</p>

</div>
<div class="col-md-6 servghjrfghvice">

<h4>Graphic Design</h4>
<P class="ilofgg123">Graphic design is a craft where professionals create visual content to communicate messages. By applying visual hierarchy and page layout techniques, designers use typography and pictures to meet users' specific needs and focus on the logic of displaying elements in interactive designs, to optimize the user experience.</p>

</div>
<div class="col-md-6 servghjrfghvice">

<h4>Machine learning</h4>
<P class="ilofgg123">Machine Learning (ML) is The science of automate a task using some 
autonomous bots created by several programming languages
	(python, C++, Java, R,  LISP ... and many others )

types of ML :
-Supervised Learning
-Unsupervised Learning
-Reinforcement Learning

List of Common Machine Learning Algorithms :
1. Linear Regression
2. Logistic Regression
3. Decision Tree
4. SVM
5. Naive Bayes
6. kNN
7. K-Means
8. Random Forest
9. Dimensionality Reduction Algorithms
10. Gradient Boosting algorithms
</p>

</div>
<div class="col-md-6 servghjrfghvice">

<h4>Website development</h4>
<P class="ilofgg123">Web development is the work involved in developing a Web site for the Internet (World Wide Web) or an intranet (a private network). ... Among Web professionals, "Web development" usually refers to the main non-design aspects of building Web sites: writing markup and coding </p>

</div>

</div>
<div class="clearfix"></div>
</div>
</div>
<!-- /Services -->
<!---728x90---> 
<!-- Skills -->
<div class="skills" id="skills">
<div class="container">
  <h3>My Skills</h3>
				<div class="col-md-12 bar-grids  w3-agile">
						<div class="wthree_skills">
				<h6>HTML<span> 70% </span></h6>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 95%">
					</div>
				</div>
				<h6>JAVA<span> 50% </span></h6>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 85%">
					</div>
				</div>
				<h6>Python<span>60% </span></h6>
				<div class="progress">
					<div class="progress-bar progress-bar-striped active" style="width: 90%">
					</div>
				</div>
				<h6>DESIGN<span>70% </span></h6>
				<div class="progress prgs-w3agile-last">
					<div class="progress-bar progress-bar-striped active" style="width: 86%">
					</div>
				</div>
			</div>
		</div>

		<div class="clearfix"> </div>
	

</div>
</div>
<!-- /Skills -->

<!-- Projects -->
<div class="projects" id="projects">
<div class="wthreelocationsaits" id="gallery">
		<div class="container">
			<h3 class="w3l-head text-center">Projects</h3>
			<section class="grid3d vertical" id="grid3d">
				<div class="grid-wrap">
					<div class="grid">
						<figure class="col-md-4 effect-zoe"><img src="images/g1.jpg" alt="wanderlust"><figcaption><h4>HTML</h4></figcaption></figure>
						<figure class="col-md-4 effect-zoe"><img src="images/g2.jpg" alt="wanderlust"><figcaption><h4>JAVA</h4></figcaption></figure>
						<figure class="col-md-4 effect-zoe"><img src="images/g3.jpg" alt="wanderlust"><figcaption><h4>JQUERY</h4></figcaption></figure>
						<figure class="col-md-4 effect-zoe"><img src="images/g4.jpg" alt="wanderlust"><figcaption><h4>PHP</h4></figcaption></figure>
						<figure class="col-md-4 effect-zoe"><img src="images/g5.jpg" alt="wanderlust"><figcaption><h4>C</h4></figcaption></figure>
						<figure class="col-md-4 effect-zoe"><img src="images/g6.jpg" alt="wanderlust"><figcaption><h4>ORACLE</h4></figcaption></figure>
						<figure class="col-md-4 effect-zoe"><img src="images/g7.jpg" alt="wanderlust"><figcaption><h4>BIG DATA</h4></figcaption></figure>
						<figure class="col-md-4 effect-zoe"><img src="images/g8.jpg" alt="wanderlust"><figcaption><h4>C++</h4></figcaption></figure>
						<figure class="col-md-4 effect-zoe"><img src="images/g9.jpg" alt="wanderlust"><figcaption><h4>JAVASCRIPT</h4></figcaption></figure>
					</div>
				</div>
				<div class="content">
					<div>
						<div class="dummy-img dummy-img-1"><img src="{% static 'images/g1.jpg' %}" alt="wanderlust"></div>
						<p class="dummy-text aitsheadingw3">HTML</p>
						<p class="dummy-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
					</div>
					<div>
						<div class="dummy-img dummy-img-2"><img src="images/g2.jpg" alt="wanderlust"></div>
						<p class="dummy-text aitsheadingw3">JAVA</p>
						<p class="dummy-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
					</div>
					<div>
						<div class="dummy-img dummy-img-3"><img src="images/g3.jpg" alt="wanderlust"></div>
						<p class="dummy-text aitsheadingw3">JQUERY</p>
						<p class="dummy-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
					</div>
					<div>
						<div class="dummy-img dummy-img-4"><img src="images/g4.jpg" alt="wanderlust"></div>
						<p class="dummy-text aitsheadingw3">PHP</p>
						<p class="dummy-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
					</div>
					<div>
						<div class="dummy-img dummy-img-5"><img src="images/g5.jpg" alt="wanderlust"></div>
						<p class="dummy-text aitsheadingw3">C</p>
						<p class="dummy-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
					</div>
					<div>
						<div class="dummy-img dummy-img-6"><img src="images/g6.jpg" alt="wanderlust"></div>
						<p class="dummy-text aitsheadingw3">ORACLE</p>
						<p class="dummy-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
					</div>
					<div>
						<div class="dummy-img dummy-img-7"><img src="images/g7.jpg" alt="wanderlust"></div>
						<p class="dummy-text aitsheadingw3">BIG DATA</p>
						<p class="dummy-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
					</div>
					<div>
						<div class="dummy-img dummy-img-8"><img src="images/g8.jpg" alt="wanderlust"></div>
						<p class="dummy-text aitsheadingw3">C++</p>
						<p class="dummy-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
					</div>
					<div>
						<div class="dummy-img dummy-img-9"><img src="images/g9.jpg" alt="wanderlust"></div>
						<p class="dummy-text aitsheadingw3">JAVASCRIPT</p>
						<p class="dummy-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
					</div>
					<span class="loading"></span>
					<span class="icon close-content"><i class="fa fa-times" aria-hidden="true"></i></span>
				</div>
			</section>
		</div>
	</div>
</div>
<!-- /Projects -->





<!-- Contact Us -->
<div class="contact" id="contact">
<div class="container">
<h3>CONTACT ME</h3>
        <div class="card-body ">
                            <form class="" method="post">
                                {% csrf_token %}
                                <div class="form-group ">
                                    <input name="name" type="name" class="form-control" placeholder="Name">
                                </div>
                                <div class="form-group">
                                    <input name="email" type="email" class="form-control" placeholder="Email">
                                </div>


                                <div class="form-group">
                                    <textarea name="subject" class="form-control" rows="5"
                                        placeholder="Subject"></textarea>
                                </div>
                                <div class="container-contact100-form-btn">
                                    <button class="contact100-form-btn">
                                        Send Message
                                    </button>
                            </form>
<div class="wrapper">
<ul class="social-icons icon-circle icon-zoom list-unstyled list-inline"> 
<li> <a href="https://www.facebook.com/profile.php?id=100005930955083"><i class="fa fa-facebook"></i></a></li> 
<li> <a href="#"><i class="fa fa-linkedin"></i></a></li> 
<li> <a href="#"><i class="fa fa-youtube"></i></a></li>
<li> <a href="#"><i class="fa fa-twitter"></i></a></li>
<li> <a href="#"><i class="fa fa-rss"></i></a></li>
</ul>
</div>
<div class="clearfix"></div>
</div>
</div>
<!-- /Contact Us -->
<div class="footer">
<div class="container">
 <p>&copy; Anish Thapa All Rights Reserved <a href=Anish target="blank"></a><Anish Thapa/p>
 </div>
</div>
<script src="js/jquery.min.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/move-top.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/grayscale.js"></script>
<script src="js/SmoothScroll.min.js"></script>

<!-- Tour-Locations-JavaScript -->
			<script src="js/classie.js"></script>
			<script src="js/helper.js"></script>
			<script src="js/grid3d.js"></script>
			<script>
				new grid3D( document.getElementById( 'grid3d' ) );
			</script>
<!-- //Tour-Locations-JavaScript -->

<!-- Navigation-JavaScript -->
<script>
	$(document).ready(function () {
	  $('.mobile-nav-button').on('click', function() {
	  $( ".mobile-nav-button .mobile-nav-button__line:nth-of-type(1)" ).toggleClass( "mobile-nav-button__line--1");
	  $( ".mobile-nav-button .mobile-nav-button__line:nth-of-type(2)" ).toggleClass( "mobile-nav-button__line--2");  
	  $( ".mobile-nav-button .mobile-nav-button__line:nth-of-type(3)" ).toggleClass( "mobile-nav-button__line--3");  
	  
	  $('.mobile-menu').toggleClass('mobile-menu--open');
	  return false;
	}); 
	});
</script>
<!-- //Navigation-JavaScript -->


<!-- Top Hover-JS -->
<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

			});
	</script>
	<!-- //here ends scrolling icon -->
<!-- smooth scrolling -->

<!-- scrolling script -->

<!-- /Top Hover-JS -->
</body>
</html>



 {% comment %} </div>
                        <div class="card-body ">
                            <form  class="" method="post">
                            {% csrf_token %}
                                <div class="form-group ">
                                    <input name="name" type="name" class="form-control" placeholder="Name">
                                </div>
                                <div class="form-group">
                                    <input name="email" type="email" class="form-control" placeholder="Email">
                                </div>
                               
                                
                                 <div class="form-group">
                                    <textarea name="subject" class="form-control" rows="5" placeholder="Subject"></textarea>
        
</div> {% endcomment %}